.btn-warning:hover{
    background-color: #ff785e;
    color:#ffffff;
    border-color: #ff785e;
  }

a.nav-link{
    color:    #636057 ;
}
a.nav-link.active{
    font-weight: bold;
    border-bottom: #ffdf65 2px solid;
}
