.logo{
    width:111px;
}
.btn-warning{
    color:#636057;
    font-weight: bold;
}
.btn-warning:hover{
    background-color: #ff785e;
    color:#ffffff;
    border-color: #ff785e;
  }

a.nav-link{
    color:    #636057 ;
}
a.nav-link.active{
    font-weight: bold;
    border-bottom: #ffdf65 2px solid;
}
.btn-outline-success:hover{
    background-color: #ffdf65;
    border: none;
    color:#858377;
    i{
        color:#FF785E;
    }
}
.soicon{
    width:30px;
    height: 30px;
}
.productpic{
    height: 123px;
}
.bg-newlight{
    background-color: #e8e8db;
}
.footer{
    background-color: #494846;
}
.modal-footer{
    border-top:none;
}
.text-hover,.invalid-feedback{
    color: #FF785E;
}
.form-control,.form-select{
    &:focus{
    border-color:#FF785E;
    box-shadow: 0 0 0 0.25rem rgba(255, 120, 94 , 0.25);
    }
}
a.nav-link{
    &:hover{
        color:#FF785E;
    }
}